Input {
  border: 0;

  &:focus {
    outline: none;
  }
}

.propertyDisplay {
  display: flex;
  flex-direction: row;

  .propertyName {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    //z-index: 1;



    .icon {
      text-align: center;
      //background-color: red;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 6px;
      margin: auto 0;
      cursor: pointer;
      font-size: 18px;
      line-height: 10px;
      transition: transform .3s linear;
      transform: rotate(-90deg);

      &:hover {
        font-weight: bold;
      }
    }

    .iconActive {
      @extend .icon;
      margin: 0;
      top: 5.5px;
      transform: rotate(0deg);
    }


    .sizeField .icon {
      @extend .icon;
      background-color: red;
      //top: 37px;
      //left: 26px;

      .iconActive {
        @extend .icon;
        margin: 0;
        top: 5.5px;
        transform: rotate(0deg);
      }
    }

    .sizeField Input {
      //background-color: red;
      width: 100%;
      padding-left: 50px;
      color: gray;
    }

    .widthHeightFields Input {
      padding-left: 60px;
      display: flex;
      flex-direction: column;
      //border-top: 1px solid gray;
    }
  }

  .propertyName Input {
    padding-left: 25px;
    font-size: 20px;
    border: 1px solid gray;

    &:focus {
      background-color: #428bca;
      color: white;
      caret-color: transparent;
    }
  }

  .propertyValue {
    display: flex;
    flex-direction: column;
    width: 50%;

    Input {
      //padding-left: 5px;
      //border: 1px solid gray;
    }
  }
}

//.icon {
//  width: 10px;
//  height: 10px;
//  position: absolute;
//  z-index: 2;
//  top: 3.5px;
//  left: 5px;
//  cursor: pointer;
//}
