div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.propertyDisplay {
  display: flex;
  flex-direction: row;

  .propertyName {
    width: 50%;
    outline: 1px solid gray;

    .wrap {
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;


      .allProp {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 25px;
        position: relative;

        &:focus {
          //background-color: #428bca;
          //color: white;
          //caret-color: transparent;
        }
      }
    }

    .sizeField {
      line-height: 30px;
      color: gray;

      .size {
        padding-left: 50px;
        height: 30px;
        outline: 1px solid gray;
        border-top: 1px solid gray;
        position: relative;
      }

      .widthHeightFields {
        padding-left: 65px;
        height: 30px;
        outline: 1px solid gray;
      }
    }
  }

  .propertyValue {
    width: 50%;
    outline: 1px solid gray;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
