.closeImageField {
  display: none;
}

.openImageField {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1.6px solid gray;

  .icon {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    top: 3.5px;
    left: 25px;
    cursor: pointer;
  }

  .sizeField {
    color: gray;
    padding-left: 60px;
    //border-top: 1.6px solid gray;
    //border-width: .1px 0;
    //border-bottom: solid red;

  }

  .openImageField Input {
    padding-left: 50px;
  }

  .openImageField Input:focus {
    background-color: #428bca;
    color: white;
    caret-color: transparent;
  }

  div Input {
    //padding-left: 40px;
    color: gray;
    border-top: 1.6px solid gray;
  }
}