.editableStringInput {
  width: 100%;
  padding-left: 10px;

  .offEditingMode {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .onEditingMode {
    width: 100%;
    height: 23px;
    font-size: 20px;
    outline: none;
    border: none;
  }

  &:active, &:focus, &:hover {
    outline: none;
    border: none;
  }
}