.dropDown {
  width: 100%;
  position: relative;
  color: #474747;
  cursor: pointer;

  .fieldWithSelectedNames {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px 0 10px;

    &:active, &:focus, &:hover {
      outline: none;
    }

    .selectedNames {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .error {
    @extend .fieldWithSelectedNames;
    border: 1.5px solid red;
    color: red;
  }

  .dropDownList {
    width: 99.8%;
    position: absolute;
    z-index: 2;
    margin-top: 1.2px;
    margin-left: 1px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 5px rgb(204, 204, 204);
    border-radius: 0 2px 3px 3px;
    max-height: 150px;
    overflow-y: auto;
    line-height: 25px;

    .allNames {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-left: 10px;

      &:hover {
        background-color: #c7c7c7;
        transition: all .4s;
      }

      &:active {
        background-color: #e2e2e2;
      }

      .listItems {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      input[type='checkbox'] {
        min-width: 15px;
        min-height: 15px;
        cursor: pointer;
        margin-right: 7px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 1px solid black;

        &:checked {
          appearance: auto;
          accent-color: rgb(255, 255, 255);
        }
      }
    }

    .selectedListItem {
      @extend .allNames;
      //background-color: #c7c7c7;
    }
  }
}
