.dropDown {
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  text-align: left;

  .select {
    display: block;
    position: relative;

    input {
      width: 100%;
    }

    .icon {
      width: 15px;
      height: 15px;
      outline: 0;
      cursor: pointer;
      color: black;
      position: absolute;
      float: left;
      top: 2px;
      right: 2px;
      z-index: 2;
      padding-left: 4px;
      background-color: white;
    }
  }
}

.dropDown:hover {
  //box-shadow: 0 0 4px rgb(204, 204, 204);
}

.dropDown:active {
  background-color: #f8f8f8;

  .select > i {
    //transform: rotate(-90deg);
  }
}

.dropDown.active:hover,
.dropDown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

.dropDownList {
  position: absolute;
  //color: black;
  background-color: #fff;
  width: 100%;
  margin-top: 1.5px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  //display: none;
  //flex-direction: column;
  max-height: 100px;
  overflow-y: auto;
  z-index: 9;
  padding: 0;
  list-style: none;
  //border: 1px solid red;

  li {
    padding: 2px 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }

  li:hover {
    background-color: #f2f2f2;
  }

  li:active {
    background-color: #e2e2e2;
  }

  li:focus {
    //background-color: red;
  }
}

.noneList {
  display: none;
}

//.dropdown.active:hover,
//.dropdown.active {
//  box-shadow: 0 0 4px rgb(204, 204, 204);
//  border-radius: 2px 2px 0 0;
//  background-color: #f8f8f8;
//}

//.dropdown.active .select > i {
//  transform: rotate(-90deg);
//}