.tabControlContainer {
  display: flex;
  flex-direction: row;
  width: 60vw;
  min-height: auto;
  min-width: 400px;
  max-width: 2000px;
  font-size: 20px;
  outline: 1px solid gray;
  border: 1px solid gray;

  .name {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
    min-width: 200px;
    max-width: 2000px;
  }

  .draggable {
    cursor: col-resize;
    width: 3px;
    //height: 270px;
    background-color: transparent;
  }

  .value {
    width: 50%;
    min-width: 200px;
    max-width: 2000px;
  }
}
