.propertyControl {
  display: flex;
  flex-direction: row;
  width: 60vw;
  min-height: auto;
  min-width: 400px;
  max-width: 2000px;
  font-size: 20px;
  outline: 1px solid gray;
  border: 1px solid gray;

  .propertyNameColumn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50%;
    min-width: 200px;
    max-width: 2000px;
  }

  .columnBorder {
    position: relative;

    .draggableBorder {
      cursor: col-resize;
      width: 9px;
      height: 100%;
      position: absolute;
      left: -5px;
    }
  }

  .propertyValueColumn {
    width: 50%;
    min-width: 200px;
    max-width: 2000px;
  }
}
