.dropDown {
  width: 100%;
  ////background-color: #fff;
  //background-color: transparent;
  //border-radius: 2px;
  //transition: all .5s ease;
  //position: relative;
  //font-size: 14px;
  //color: #474747;
  //text-align: left;
  //padding-right: 25px;

  &:active, &:focus {
    background-color: #f8f8f8;
  }

  &.active:hover,
  &.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8;
  }

  .container {
    //display: block;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    //padding-left: 5px;
    //border: 1px solid gray;
    overflow: hidden;
    text-overflow: ellipsis;
    //z-index: 1;
    //position: relative;
    border: none;

    &:active, &:focus {
      background-color: #f8f8f8;
      outline: none;
    }

    &.value {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .error {
    @extend .container;
    //border: 1px solid red;
    color: red;
    font-size: 15px;
    height: 27px;
  }

  .dropDownListOpened {
    position: absolute;
    background-color: #fff;
    width: 100%;
    margin: 0;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 160px;
    z-index: 3;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    //border: 1px #dadada solid;
    font-size: 20px;
    //transition: all 2s ease;

    .list {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 1px 0 0 1px;
      transition: all .2s ease-in-out;
      cursor: pointer;

      &:hover {
        //background-color: #f2f2f2;
        background-color: red;
      }

      &:active {
        background-color: #e2e2e2;
      }

      input[type='checkbox'] {
        position: relative;
        top: 2px;
        //margin: 0;
        width: 15px;
        height: 15px;
        cursor: pointer;
        margin-right: 7px;
      }
    }
  }
}
