.container {
  padding: 0 7px 0 10px;

  &:active, &:focus, &:hover {
    outline: none;
    border: none;
  }

  .inputField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .wrap {
      display: flex;
      flex-direction: row;

      Img {
        width: 23px;
        height: 23px;
        margin-right: 5px;
      }
    }

    Input[type='file'] {
      display: none;
    }

    Button {
      width: 20px;

      &:hover {
        cursor: pointer;
        border-radius: 2px;
        border: 1.6px solid #474747;
      }
    }
  }
}

.field {
  line-height: 30px;
  color: gray;

  .openImageField {
    outline: 1px solid gray;
    border-top: 1px solid gray;
    height: 30px;
    padding-left: 10px;
  }

  .widthHeightValueFields div {
    outline: 1px solid gray;
    height: 30px;
    padding-left: 10px;
  }
}



