.inputField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 3px 0 5px;

  .wrap {
    display: flex;
    flex-direction: row;
  }

  Img {
    width: 23px;
    height: 23px;
    margin-right: 3px;
  }

  Input[type='file'] {
    display: none;
  }

  Button {
    width: 25px;

    &:hover {
      cursor: pointer;
      border-radius: 2px;
      border: 1.6px solid #474747;
    }
  }
}

.openImageField {
  //width: 100%;
  //padding-left: 5px;
  //font-size: 20px;
  //color: gray;
  ////border: 1px solid gray;
}

.widthHeightValueFields {
  //width: 100%;
  //padding-left: 5px;
  //color: gray;
  ////border: 1px solid gray;
}



