.wrap {
  width: 100%;
  color: #474747;
  //transition: all 3s ease;
  position: relative;
  cursor: pointer;

  .container {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;

    &:active, &:focus, &:hover {
      outline: none;
      border: none;
    }
  }

  .selectedName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .dropDownList {
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 3.7px;
    margin-left: .5px;
    padding-top: 2px;
    max-height: 160px;
    line-height: 25px;
    overflow-y: auto;
    background-color: #f8f8f8;
    box-shadow: 0 4px 5px rgb(204, 204, 204);
    border-radius: 0 2px 3px 3px;
    cursor: pointer;

    & div {
      &:hover {
        background-color: #c7c7c7;
        transition: all .4s;
      }

      &:active {
        background-color: #e2e2e2;
      }

      &:empty {
        min-height: 25px;
      }
    }
  }
}

.listItem {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.selectedItem {
  @extend .listItem;
  background-color: #c7c7c7;
}
