.dropDown {
  width: 100%;
  color: #474747;
  position: relative;
  cursor: pointer;

  .fieldWithSelectedName {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;

    &:active, &:focus, &:hover {
      outline: none;
      border: none;
    }
  }

  .selectedName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .dropDownList {
    width: 99.8%;
    position: absolute;
    z-index: 2;
    margin-top: 3.7px;
    margin-left: 1px;
    max-height: 150px;
    line-height: 25px;
    overflow-y: auto;
    background-color: #f8f8f8;
    box-shadow: 0 4px 5px rgb(204, 204, 204);
    border-radius: 0 2px 3px 3px;
    cursor: pointer;
  }
}

.listItems {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;

  &:hover {
    background-color: #c7c7c7;
    transition: all .4s;
  }

  &:active {
    background-color: #e2e2e2;
  }

  &:empty {
    min-height: 25px;
  }
}

.selectedListItem {
  @extend .listItems;
  background-color: #c7c7c7;
}
