.imageFieldIconOff {
  position: absolute;
  top: -2px;
  left: 5px;
  height: 20px;
  cursor: pointer;
  transition: transform .3s linear;
  transform: rotate(-90deg) translate(-20%, -20%);

  &:hover {
    font-weight: bolder;
  }
}

.imageFieldIconOn {
  @extend .imageFieldIconOff;
  transform: rotate(0deg);
}


.sizeFieldIconOff {
  position: absolute;
  top: -2px;
  left: 25px;
  cursor: pointer;
  transition: transform .3s linear;
  transform: rotate(-90deg) translate(-10%, -10%);

  &:hover {
    font-weight: bolder;
  }
}

.sizeFieldIconOn {
  @extend .sizeFieldIconOff;
  transform: rotate(0deg);
}


.dropDownOff {
  cursor: pointer;
  transition: transform .3s linear;

  &:hover {
    font-weight: bolder;
  }
}

.dropDownOn {
  @extend .dropDownOff;
  transform: rotate(180deg);
}

