input {
  padding-left: 5px;
  border: 0;
}

input:focus {
  outline: none;
}

.tabControlButtons {
  display: flex;
  margin-bottom: 20px;
}

.propertyDisplay {
  width: 70%;
  display: flex;
  flex-direction: row;
  border: .5px solid black;
  //margin-bottom: 100px;

  .expandIcon {
    width: 25px;
    border: 1px solid gray;
    background-color: gray;
    text-align: center;
  }

  .propertyName {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    //border: 1px solid black;
    padding-left: 20px;

    .icon {
      position: absolute;
      top: 0;
      left: 7px;
      z-index: 1;
    }

    .closeImageBlock {
      display: none;
    }

    .openImageBlock {
      display: flex;
      flex-direction: column;
      position: relative;

      .icon {
        position: absolute;
        top: 0;
        left: 7px;
        z-index: 1;
      }
    }
  }

  .propertyName input:focus {
    background-color: #428bca;
    color: white;
    caret-color: transparent;
  }

  .propertyValue {
    display: flex;
    flex-direction: column;
    width: 500px;
    //border: 1px solid black;

    .closeImageBlock {
      display: none;
    }

    .openImageBlock {
      display: flex;
      flex-direction: column;
    }
  }
}






//.container {
//  width: 100px;
//  height: 100px;
//  position: relative;
//}
//
//.naviA {
//  border: 3px solid red;
//  position: absolute;
//  top: 0;
//  left: 0;
//}
//
//.infoiB {
//  width: 10px;
//  height: 10px;
//  border: 3px solid red;
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: 10;
//  background-color: blueviolet;
//}


