.inputField {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;

  Input[type='text'] {
    width: 100vw;
  }

  Input[type='text']:focus {

  }

  Input[type='file'] {
    //background-color: red;
    width: 18px;
    height: 17.4px;
    position: absolute;
    z-index: 3;
    opacity: .7;
    overflow: hidden;
    text-indent: -9999px;
    padding: 1px 0;
    border-radius: 2px;
  }

  Input[type='file']:hover {
    position: absolute;
    opacity: .2;
    cursor: pointer;
    background-color: gray;
  }

  Button {
    opacity: 1;
    position: absolute;
    z-index: 2;
    border-radius: 2px;
    border: .5px solid gray;
    padding: .5px 3px;
  }
}

