* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  ::selection {
    background-color: #e2e2e2;
  }
  ::-moz-selection {
    background-color: #e2e2e2;
  }

}
.wrap {
  width: 60vw;
  max-height: 200px;
  margin: 50px 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;

  .treeMenu {
    min-width: 400px;
    font-size: 11px;
  }
}

