* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.wrap {
  margin: 50px 10px;
  width: 60vw;
  max-height: 200px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  //position: relative;
  //z-index: 0;

  .treeMenu {
    min-width: 500px;
    font-size: 11px;
  }


}

