.tabControlButtons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 70vw;

  button {
    font-size: 13px;
  }
}

.tabControlContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  font-size: 20px;
  outline: 1px solid gray;
  border: 1px solid gray;
}
