.tabControlButtons {
  display: flex;
  margin-bottom: 20px;
}

.tabControlContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
  border: .1px solid gray;
}

.svg {
  background-image: url('https://w7.pngwing.com/pngs/475/618/png-transparent-arrow-computer-icons-bar-chart-arrow-angle-chevron-svg-filter-effects.png');
}